<sc-page [showNav]="isNavigationShown">
  <div scPageHeader>
    <sc-global-header [appName]="'Redirect Manager' | translate" [(show)]="isNavigationShown">
      <a href="#" scGlobalLogo></a>
      <!-- AccountInformation gets accountName and accountImageUrl automatically from Sitecore context which is configured in AppModule -->
      <sc-account-information (logout)="logoutService.logout()"></sc-account-information>
    </sc-global-header>
  </div>
  <aside scPageNav>
    <nav>
      <!--<a routerLink="/taskpage" class="navlink">{{ 'TASK_PAGE' | translate }}</a>-->
      <a scButton="primary" routerLink="/upload">Upload Redirects</a>
    </nav>

    <sc-menu>
      <sc-menu-category icon="cake_slice" text="Lorem ipsum dolor" [open]="true">
        <sc-menu-item>
          <a scMenuItemLink routerLink="lorem">Not active</a>
        </sc-menu-item>
        <sc-menu-item>
          <a scMenuItemLink routerLink="ipsum" [active]="true">Active</a>
        </sc-menu-item>
      </sc-menu-category>
    </sc-menu>
  </aside>
  <div scPageAppHeader>
    <sc-application-header [text]="'DASHBOARD_PAGE' | translate"></sc-application-header>
  </div>
  <article scPageContent>
      <input type="file" #fileInput value="Upload"   />  
      <a scButton="primary" (click)="uploadFile()">Upload Redirects</a>

    </article>
  </sc-page>
  